.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 700px;
  margin: auto;
}
.button {
  height: 56px;
}
ul {
  list-style: none;
}
.textbox {
  width: calc(100% - 64px);
}
